@font-face {
	font-family: "Cooper";
	src: local("Cooper"), url(../fonts/Cooper-Md-BT-Medium.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-Light.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-LightIt.ttf) format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-Italic.ttf) format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-SemiBd.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-SemiBdIt.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-Bold.ttf) format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-BoldIt.ttf) format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-Black.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Harmonia";
	src: local("Harmonia"), url(../fonts/HarmoniaSansProCyr-BlackIt.ttf) format("truetype");
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Regular.otf) format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Regularitalic.otf) format("opentype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Light.otf) format("opentype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Lightitalic.otf) format("opentype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Medium.otf) format("opentype");
	font-weight: normal;
	font-style: 600;
}

@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Mediumitalic.otf) format("opentype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Bold.otf) format("opentype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Bolditalic.otf) format("opentype");
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Black.otf) format("opentype");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: "Doyle";
	src: local("Doyle"), url(../fonts/Doyle-Blackitalic.otf) format("opentype");
	font-weight: 900;
	font-style: italic;
}
